<div class="grid-container">
  <div class="grid-x">
    <div class="cell small-11">
      <h2>
        Kings & Queens Prom
      </h2>
    </div>
    <div class="cell small-1">
      <button class="right-button" routerLink="/" aria-label="Page Back" type="button">
        <fa-icon [icon]="['far', 'home']"></fa-icon>
      </button>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell small-12">      
      <h4>
        Schedule of Events
      </h4>
    </div>
    <div class="cell small-12">
      <ul>
        <li><b>3:00PM:</b> Buddy Check In</li>
        <li><b>3:30PM-8:45PM:</b> Dinner for Event Volunteers</li>
      <li><b>4:45-6:00PM</b> Guest Check In</li>
      <li><b>4:45PM-8:40PM:</b>Beauty Bar Hours</li>
      <li><b>5:30PM-8:00PM:</b>Dinner for Guests & Buddies</li>
      <li><b>6:30PM-8:30PM:</b>Guest Experiences</li>
         <ul>
          <li>Karaoke</li>
          <li>Magician</li>
          <li>Limo Ride Experience</li>
          <li>Balloon Artist</li>
        </ul>
      <li><b>8:45PM:</b> Last Dance</li>
      <li><b>9:00PM:</b> Guest Pick-up</li>
      </ul>
      <h4>
        Parking
      </h4>
 <p>        
There will be a shuttle bus to and from the off-site parking lots. The shuttle bus will drop you off at the volunteer entrance. <b>Please allow extra time to park and ride the shuttle to the Webro building.</b> <i>Note: Parking at the Webro building is for event guests only.</i>
      </p>
        <ul>
          <li><b>Address: </b>200 Kimball Drive, Parsippany NJ 07054</li>
          <li><b>Map: </b><a href="/assets/images/ParkingMapNTS.jpg">Parking Map</a></li>
          <li><b>Shuttle Times: </b>2:30pm - 11:00pm</li>
        </ul>
      <p>
    </div>
  </div>
</div>
