<div class="grid-container">
  <div class="grid-x">
    <div class="cell small-11">
      <h2>
        Kings & Queens Prom
      </h2>
    </div>
    <div class="cell small-1">
      <button class="right-button" routerLink="/" aria-label="Page Back" type="button">
        <fa-icon [icon]="['far', 'home']"></fa-icon>
      </button>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell small-12">      
      <h4>
        Guest Information Lookup
      </h4>
    </div>
    <div class="cell small-12 medium-6">
      <barcodeScanner></barcodeScanner>
    </div>
  </div>
</div>
