<div class="grid-container">
  <div class="grid-x">
    <div class="cell small-12">
      <h2>
        Night To Shine - Team Lead Site
      </h2>
      <p>
        Thank you for giving us your time to serve at Night To Shine. Night to Shine is an incredible night! Lights… music… limos… gowns and tuxedos… and best of all, Kings and Queens walking the red carpet and dancing the night away! Below are some links to helpful information for the event.
      </p>
      <ul>
        
      <li><h4>
        <a routerLink="/guest-lookup" routerLinkActive="active">
        <fa-icon [icon]="['far', 'qrcode']"></fa-icon> Scan Badge QR Code</a>
      </h4></li>
      <li><h4>
        <a routerLink="/site-plan" routerLinkActive="active">
          Night To Shine Site Plan
        </a>
      </h4></li>
      <li><h4>
        <a routerLink="/schedule" routerLinkActive="active">
          Schedule of Events
        </a>
      </h4></li>
      <li><h4>
        <a routerLink="/role-docs" routerLinkActive="active">
          What to Expect Documents
        </a>
      </h4></li>
      </ul>

    </div>
  </div>
</div>
