<div class="grid-container">
  <div class="grid-x"> 
    <div class="cell small-11 text-center" style="margin-top: 80px">
      <h1><fa-icon [icon]="['far', 'exclamation-triangle']"></fa-icon> Page Not Found</h1>
        <p>
          If you feel that you have reached this in error, please contact IT Department.
        </p>
    </div>
    <div class="cell small-1">
      <button class="right-button" routerLink="/" aria-label="Page Back" type="button">
        <fa-icon [icon]="['far', 'home']"></fa-icon>
      </button>
    </div>
  </div>
</div>