<div class="grid-container">
  <div class="grid-x">
    <div class="cell small-11">
      <h2>
        Kings & Queens Prom
      </h2>
    </div>
    <div class="cell small-1">
      <button class="right-button" routerLink="/" aria-label="Page Back" type="button">
        <fa-icon [icon]="['far', 'home']"></fa-icon>
      </button>
    </div>
  </div>
  
  <div class="grid-x">
        <!-- div class="button-group">
      <button type="button"
              class="button small primary"
              (click)="selectTab(1)">
        Morris
      </button>
             <button type="button"
              class="button small success"
              (click)="selectTab(2)">
        Mercer
      </button>
    </div -->
    
    <div class="cell small-12">      
      <h4>
        What to Expect Documents
      </h4>
    </div>
    

    
    <tabset #wteTabs>
    <tab heading="Morris (North)">
        

    <div class="cell small-12">
      <h5>
        Guest Services Teams
      </h5>
      <ul>
      <li><a href="https://docs.google.com/document/d/1lAxD1IF9HSor4R4kTu_83tzAyRQm5ev1-pjgzf_NQRA/edit?usp=sharing" target="_blank">Guest Checkin Team</a></li>
      <li><a href="https://docs.google.com/document/d/1aZDov0urMY4g7Zg1Wsv1utpny0Dkhg2RdSwvuIk4DeU/edit?usp=sharing" target="_blank">Buddy Team</a></li>
      <li><a href="https://docs.google.com/document/d/1MHNddKpVcS3VU2LUUERGjcKU07Cu-pAobw1mXFyiw28/edit?usp=sharing" target="_blank">Buddy Coach</a></li>
      <li><a href="https://docs.google.com/document/d/19QXQne-C01MahpI46Tk7pP122uv4BcTlyXRIh52pedw/edit?usp=sharing" target="_blank">Welcome Center</a></li>
      <li><a href="https://docs.google.com/document/d/1fO4JpOrsuaWgGnaMOY23REGF83mMHeDhR5ADhC3Z4RE/edit?usp=sharing" target="_blank">Medical Team</a></li>
      <li><a href="https://docs.google.com/document/d/1dMEjDfNcigaNVTxSAxI-WGV4xK4TbsOmdN4mPA5_e3I/edit?usp=sharing" target="_blank">Respite Team</a></li>
      </ul>
      
      <h5>
        Volunteer Care Teams
      </h5>
      <ul>
      <li><a href="https://docs.google.com/document/d/1vDUwlQKXDbs2pOVNF3dL91FlaHprVH3u4fL0XeitMZM/edit?usp=sharing" target="_blank">Volunteer Check-in</a></li>
      </ul>
      <h5>
        Food and Beverage Teams
      </h5>
      <ul>
      <li><a href="https://docs.google.com/document/d/13LWTgszzAw4mIaUFBlOVN2lrA3jliEUqCyuxz4eCmg4/edit?usp=sharing" target="_blank">F&B Volunteer Care</a></li>
      <li><a href="https://docs.google.com/document/d/1itNCuMoL_9UdIBdqp1gDWhNPXX2wB1bwplPkUZK3leY/edit?usp=sharing" target="_blank">F&B Respite</a></li>
      <li><a href="https://docs.google.com/document/d/1h_IU882DE0TjUr58HshFB4Rm_4DBjgp88QaSckAAo9w/edit?usp=sharing" target="_blank">F&B Guest and Buddy</a></li>
      </ul>      
      <h5>
        Guest Experience Teams
      </h5>
      <ul>
      <li><a href="https://docs.google.com/document/d/1qqSttiyDtyqEQgo1SuDG6mfWyAbhbumbCLu36e_95lk/edit?usp=sharing" target="_blank">Silent Disco</a></li>
      <li><a href="https://docs.google.com/document/d/1DFd9YJP5cOXOpVZwsO6ptbVVvNKcfKVih2vt1HIbQsY/edit?usp=sharing" target="_blank">Red Carpet</a></li>
      <li><a href="https://docs.google.com/document/d/1AMfibAGyvhPw5rXR24XuD4EV9WsGG5NgKnINk8yjtoY/edit?usp=sharing" target="_blank">Limo and Parking</a></li>
      <li><a href="https://docs.google.com/document/d/1l9uu_QXlJIEo5AxedFFOK1eN_IrKDXfmpZGtyg9Odzg/edit?usp=sharing" target="_blank">Karaoke</a></li>
      <li><a href="https://docs.google.com/document/d/1-g4a1fEb2GgchWuTrv4NZSrNLKMxe4F71Wl3bdKvNQw/edit?usp=sharing" target="_blank">Guest Portrait</a></li>
      <li><a href="https://docs.google.com/document/d/1Fl_XmAtCDIfWNH-hix10UxqlG4dIOpbhjqy0RfQ7Emg/edit?usp=sharing" target="_blank">GLOW Lounge</a></li>
      <li><a href="https://docs.google.com/document/d/1ckXD6DRDIyNBdfLsTip4X6J-XCBYYrC9AbX8fA_ZtWI/edit?usp=sharing" target="_blank">Crown</a></li>
      </ul>
      <h5>
        Beauty Bar Teams
      </h5>
      <ul>
        <li><a href="https://docs.google.com/document/d/1w3i0oqn1KWlljY81VQUZ87B2ulmd47tudgBiPcjVrzw/edit?usp=sharing" target="_blank">Beauty Bar Hosts</a></li>
      <li><a href="https://docs.google.com/document/d/1-YYUQgbWYXyTL5n4XoBMtc-nFgv5FwDWaDaSZF-3cz4/edit?usp=sharing" target="_blank">Shoeshine</a></li>
      <li><a href="https://docs.google.com/document/d/1guvIbDB4H2Y9YBtybsWVe3XIY7rGqD5pRGILuLweB_8/edit?usp=sharing" target="_blank">Nail Bar</a></li>
      </ul>
      <h5>
        Front of House Teams
      </h5>
      <ul>
      <li><a href="https://docs.google.com/document/d/1Armz_CRL2h1x-LvLJp2UmAYnqRklFqc8V2cVwOYXNWA/edit?usp=sharing" target="_blank">Social Tea</a></li>
      <li><a href="https://docs.google.com/document/d/1kBt1duHOVSoXAXFXkSsti_5H6EylTcx8ZikwcD-P6MQ/edit?usp=sharing" target="_blank">Security</a></li>
      <li><a href="https://docs.google.com/document/d/16-Ch2uJFbdrcSKVT7rl25cPIWjY3cV44-A7KzPuz2tg/edit?usp=sharing" target="_blank">Service Dogs</a></li>
      </ul>
    </div>
      </tab>    
    
    <tab heading="Mercer (South)">
      
    <div class="cell small-12">
            <h5>
        Guest Services Teams
      </h5>
      </div>
    </tab>
        </tabset>
  </div>
</div>