<div class="grid-container">
  <div class="grid-x">
    <div class="cell small-11">
      <h2>
        Night To Shine - Team Lead Site
      </h2>
    </div>
    <div class="cell small-1">
      <button class="right-button" routerLink="/" aria-label="Page Back" type="button">
        <fa-icon [icon]="['far', 'home']"></fa-icon>
      </button>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell small-12">      
      <h4>
        What to Expect Documents
      </h4>
    </div>
    <div class="cell small-12">
      <h5>
        Guest Services Teams
      </h5>
      <ul>
      <li><a href="https://dl.airtable.com/.attachments/e35d26517c3449f82baab5ccf79cf1f1/ba6b0dc0/TRNTS2020__GuestServicesTeam-WhattoExpect3.pdf">Guest Registration</a></li>
      <li><a href="https://dl.airtable.com/.attachments/b2dbe108c2604a8eb26bf96c1e36b007/9fd55df3/BuddyCoachWTE.pdf">Buddy Coach</a></li>
      </ul>
      <h5>
        Volunteer Care Teams
      </h5>
      <ul>
      <li><a href="https://dl.airtable.com/.attachments/3ccc173ae3243845aeec16152ffc7390/c1203768/NTS2020_VolCheck-in1.pdf">Volunteer Check-in</a></li>
      <li><a href="https://dl.airtable.com/.attachments/7a59f14ead8ced0693497f719742f378/a69cc349/NTS2020VolCare.pdf">Volunteer Care</a></li>
      </ul>
      <h5>
        <a href="https://dl.airtable.com/.attachments/4d5accfa9b711d1abd5df631e10f2e80/5b527f8d/NTSFoodBeverageTeamWTE1.pdf">Food and Beverage Teams</a>
      </h5>
      <h5>
        Guest Experience Teams
      </h5>
      <ul>
      <li><a href="https://dl.airtable.com/.attachments/9b0e6d3cee395f0d10dbf7a2dd3fb9fd/c402de2e/NTS2020GuestPortraitsandFavors.pdf">Guest Portraits & Favors</a></li>
      <li><a href="https://dl.airtable.com/.attachments/e27c0a1715653ac13f6d2707b65d87e0/58b4f715/NTS2020FlowerandCrownTeam.pdf">Flowers and Crowns</a></li>
      <li><a href="https://dl.airtable.com/.attachments/cd20299cbad6141728ff50c65ce824cb/37739e43/NTS2020Karaoke.pdf">Karaokes</a></li>
      </ul>
      <h5>
        Ballroom Teams
      </h5>
      <ul>
      <li><a href="https://dl.airtable.com/.attachments/9dff761491ac6ce7d89c6ddd19251f30/8abb4194/NTS2020BALLROOM.pdf">Auditorium/Ballroom</a></li>
      <li><a href="https://dl.airtable.com/.attachments/e05190ba6fdeef735dcd4bc30003e367/895b3120/NTS2020REDCARPET.pdf">Red Carpet</a></li>
      </ul>
      <h5>
        <a href="https://dl.airtable.com/.attachments/a48dad353f28c00a6a3d451927ce1f14/7b477d34/NTS2020Stylists-MUA-s-ShoeShine.pdf">Beauty Bar Teams</a>
      </h5>
      <h5>
        Front of House Teams
      </h5>
      <ul>
      <li><a href="https://dl.airtable.com/.attachments/3431e738879e5135f52c96cc7ffa075d/e6b6b250/NTS2020COATCHECK.pdf">Coat Check</a></li>
      <li><a href="https://dl.airtable.com/.attachments/77ec8fd45ea0588ec0c6e425a1339e11/aa747281/NTS2020SECURITY.pdf">Security</a></li>
      <li><a href="https://dl.airtable.com/.attachments/200182f7c7d8a47d8fa44398d85d5e0e/944f3d02/NTS2020WELCOMECENTER.pdf">Welcome Desk</a></li>
      <li><a href="https://dl.airtable.com/.attachments/3f5f5df89018f8059925c0e2b159b877/aeca88fd/NTS2020PhotographyTeam.pdf">Photography</a></li>
      <li><a href="https://dl.airtable.com/.attachments/5801ee31cbf3e98b00a14bf773c4eabb/9024a095/NTS2020PARKING.pdf">Parking</a></li>
      <li><a href="https://dl.airtable.com/.attachments/2d13c48b8b4a6486a903a889fb539e43/d2d81edd/NTS2020LIMO.pdf">Limo</a></li>
      </ul>
    </div>
  </div>
</div>