<div class="top-bar">
  <div class="top-bar-left text-left">
    <ul class="dropdown menu" dropdown #dropdown="bs-dropdown">
      <li class="is-dropdown-submenu-parent">
        <button dropdownToggle type="button" class="button" aria-controls="dropdown-button">
          <fa-icon [icon]="['far', 'bars']"></fa-icon>
        </button>
        <ul id="dropdown-button" *dropdownMenu class="menu is-dropdown-submenu" role="menu">
            <li role="menuitem" class="item"><a routerLink="/" routerLinkActive="active">Home</a></li>
        </ul>
      </li>
      <li class="logo"><img src="/assets/images/logo.png" style="width:30px"></li> 
    </ul>
  </div>
  <div class="top-bar-center">
    <ul class="menu float-right">
      <li>
        <button (click)="openModal()">
          <div *ngIf="currentUser | async; let currentUser">
            <div *ngIf="currentUser.name == ''">    
              <fa-icon [icon]="['far', 'sign-in']"></fa-icon>
            </div>
            <div *ngIf="currentUser.name != ''">
              <div class="name">
                {{ currentUser.name }}
              </div>
            </div>
          </div>
        </button>
      </li>
    </ul>
  </div>
</div>